.post-type-archive-magazines,
.single-magazines {

  .pa-header {

    a {
      color: white;
    }

  }

  .btn:hover {
    text-decoration: none;
  }

  .pa-img-tag {

    position: absolute;
    background-color: var(--pa-color-default);
    color: #fff;
    bottom: 1.5rem;
    left: 0;

    font-size: .8rem;
    padding: .5em .4em;
    line-height: 100%;
  }

  figure {
    img {
      object-fit: cover;
    }
  }
}